* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: url(../ruleta/506920898.jpg) no-repeat center bottom;
  font-family: "Arial", Verdana;
  height: auto;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.contenedor-formularios {
  background: rgba(0, 19, 13, 0.7);
    padding: 30px 20px;
    position: relative;
    height: auto;
    width: 90%;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.contenedor-tabs {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.contenedor-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.contenedor-tabs li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.contenedor-tabs li a:hover {
  background: #179b77;
  color: #fff;
}
.contenedor-tabs .active a {
  background: #055f66;
  color: #fff;
}

.contenido-tab > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #fff;
}

input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  border-radius: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border-color: #1ab188;
}

.contenedor-input {
  position: relative;
  margin-bottom: 40px;
}

#nacimiento label{position: relative;}
form p{color: white;}
.fila-arriba:after {
  content: "";
  display: table;
  clear: both;
}
.fila-arriba div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.fila-arriba div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 0;
  font-size: 2rem;
  background: #e21636;
  color: #fff;
  transition: all .5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom: 20px;
}

/*estilos de ruleta*/
html, body {
                width: 100%;
                height: 100%;
                overflow: hidden;z-index: 0}
/*Countdown style*/
#the-24h-countdown {
  text-align: center;
  font-size: 13px;
  color: white;
  margin:0 auto;
  width: 100%;
  height: 35px;
  font-weight: bold;
}
#the-24h-countdown1{position: relative;height: 40px;margin: 15px 0;}
#the-24h-countdown span{background: #00b7b7; color:#fff; display:inline-block; padding: 10px;float:left;margin-left:20px;border-radius:10px;}
#the-24h-countdown1 span{background: red; color: white; padding: 15px 20px;border-radius: 15px;}
#the-24h-countdown .min:before, #the-24h-countdown .seg:before {
  content:':';
  color:#fff;
  margin-left:-23px;
  margin-right:26px;
}
.tempo li {text-align:left ;display:inline-block;margin-left:-1px;}
.center{margin: 0 auto; position: relative; padding: 0 15px;text-align: center}
.the_wheel{position: relative;margin: 0 auto;width: 90%; height: 330px;}
.clickable{cursor: pointer;}
/* Other misc styles */
.margin_bottom{margin-bottom: 5px;}
#spin_button{
    position: absolute;
    top: 60px;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 144px;
    height: 164px;
    z-index: 4;
}
.cuponWin{
    font-size: 125%;
    font-weight: bold;
    color: #333;
}
h4{font-size: 16px;}
.Swalbutton{color: white;}
/*terminan ruleta estilos*/
@media screen and (max-width: 500px) {
  .fila-arriba div {
    width: 100%;
  }
  .fila-arriba div:last-child {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 400px) {
  .contenedor-tabs li a {
    width: 100%;
  }
}
